<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow-lg border-0" style="max-width:420px; width:100%;">
    <div class="card-body m-2">
      <h4 class="card-title mb-3 darkblue text-left">Log In</h4>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label class="form-label"><strong>Email</strong></label>
          <input type="email" class="form-control" formControlName="email" placeholder="you@emaple.com" />
          @if ((submitted || f['email'].touched) && f['email'].invalid) {
          <div class="text-danger small mt-1">
            Email is required and must be valid.
          </div>
          }
        </div>

        <div class="mb-3 position-relative">
          <label class="form-label"><strong>Password</strong></label>
          <div class="input-group">
            <input id="loginPwd" type="password" class="form-control" formControlName="password"
              placeholder="Enter password" />
            <button type="button" class="btn btn-outline-secondary" (click)="togglePassword('loginPwd')"
              title="Show / hide password">
              <i class="bi bi-eye"></i>
            </button>
          </div>
          @if ((submitted || f['password'].touched) && f['password'].invalid) {
          <div class="text-danger small mt-1">
            Password is required.
          </div>
          }
        </div>
        
        <div class="d-flex justify-content-between mb-3 mt-3 small">
          <a class="text-left darkblue text-decoration-none" (click)="goRegister()" style="cursor:pointer">Don't have an account? </a>
          <a class="text-right darkblue text-decoration-none" (click)="goForgot()" style="cursor:pointer">Forgot?</a>
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-darkblue text-light" type="submit"><strong>Login</strong></button>
        </div>
      </form>

      @if (userNotFound) {
      <div class="alert alert-warning mt-3">
        No user found with this email. <a (click)="goRegister()" class="link-primary" style="cursor:pointer">Register
          now</a>.
      </div>
      }

      @if (authError) {
      <div class="alert alert-danger mt-3">{{authError}}</div>
      }

    </div>
  </div>
</div>